<div class="social-buttons">
	<a href="http://twitter.com/bedstuyle" target="new"><%= image_tag('social-buttons/twitter.png') %></a>
	<a href="http://facebook.com/bedstuyle" target="new"><%= image_tag('social-buttons/facebook.png') %></a>
	<a href="http://instagram.com/bedstuyle" target="new"><%= image_tag('social-buttons/instagram.png') %></a>
	<a href="http://soundcloud.com/bedstuyle" target="new"><%= image_tag('social-buttons/soundcloud.png') %></a>
	<a href="http://youtube.com/channel/UCD43E6yhDFKedzQxbCQIxPQ" target="new"><%= image_tag('social-buttons/youtube.png') %></a>
</div>

<div class="site-wrapper">

	<div class="site-wrapper-inner">

		<div class="cover-container">

			<div class="masthead">
				<div class="inner right">
					<nav>
						<ul class="nav masthead-nav">
							<li><%= link_to 'inquiries', 'https://docs.google.com/forms/d/1-vptCVoZzIiFdzIGwr1BM-fFhfjE8g_2TEvBI4TE_d8/viewform?embedded=true' %></li>
						</ul>
					</nav>
				</div>
			</div>

			
			<div class="inner cover">
				
				<%= image_tag 'logo/bedstuyle-logo-homepage.png', class: 'cover-logo' %>
				<br><br>
				<p class="lead">CULTURE, ART, FOOD AND STYLE IN BEDFORD-STUYVESANT</p>
				<br><span class="coming-soon-text">COMING SOON</span>
				<br><br>
				<style type="text/css">
					.form-container {
						width: 40%;
						margin: 0 auto;
					}
					
					#mc_embed_signup {
						text-align: center;
						font:14px Helvetica,Arial,sans-serif;
					}
					
					.form-control {
						width : 60%;
						float : left;
					}

					.button {
						width : 39%;
						float : left;
						margin-left: 1%;
						min-height: 34px;
						background-color: #cc3300;
						border-color: #cc3300;
						text-transform: uppercase;
						color: #fff;
						-webkit-transition: all 200ms;
						
					}

					</style>
					<div class="form-container">
						<div id="mc_embed_signup">
							<form action="//bedstuyle.us12.list-manage.com/subscribe/post?u=b9caed93088d0ce53ae6b64c3&amp;id=af2eb598e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<div id="mc_embed_signup_scroll">
									<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
									<div style="position: absolute; left: -5000px;"><input type="text" name="b_b9caed93088d0ce53ae6b64c3_af2eb598e9" tabindex="-1" value=""></div>
									<input type="submit" value="sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default button">
								</div>
							</form>
						</div>
					</div>
				
			</div>
			
			<div class="mastfoot">
				<div class="inner">
					<br><br><br>
					<p>&copy; 2015 Bedstuyle</p>
				</div>
			</div>

		</div>

	</div>

</div>
